<h1>{{title}}</h1>
<div class="card">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
    <form  name="form-save-empleado">
      <div class="alert alert-primary">
        Todos los campos con <span class="required-indicator">*</span> son requeridos
      </div>
      <div class="form-group">
        <label for="cedula">Cédula<span class="required-indicator">*</span></label>
        <input type="number" class="form-control" id="cedula" name="cedula" minlength="10" maxlength="10" placeholder="Cédula" required
               [(ngModel)]="empleado.cedula">
      </div>

      <div class="form-group">
        <label for="nombres">Nombres <span class="required-indicator">*</span></label>
        <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Nombres" required
               [(ngModel)]="empleado.nombres">
      </div>

      <div class="form-group">
        <label for="apellidos">Apellidos<span class="required-indicator">*</span></label>
        <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" required
               [(ngModel)]="empleado.apellidos">
      </div>

      <div class="form-group">
        <label for="email">Correo electrónico<span class="required-indicator">*</span></label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico" required
               [(ngModel)]="empleado.email">
      </div>
      <fieldset>
        <div class="text-right">
          <button role="button" class="btn btn-primary" (click)="create()" *ngIf="!empleado.id else elseBlock">Guardar</button>
          <ng-template #elseBlock>
            <button role="button" class="btn btn-primary" (click)="update()" >Actualizar</button>
          </ng-template>
        </div>
      </fieldset>
    </form>
  </div>
</div>
